# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
todo.txt  
ANALISI_TODO.md
oldflow.json

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*TODO.md
*Progetto W4U definitivo-gen26.docx
*Progetto W4U definitivo-gen26.pdf
*W4U_Generate_Cover_DALLE3.json